<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Corrida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input [(ngModel)]="P" label="Preço do Produto" labelPlacement="floating" placeholder="Digite o Preço do Produto em Dolares"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="R" label="Região" labelPlacement="floating" placeholder="Digite a Região da Entrega"></ion-input>
  </ion-item>


  <ion-button fill="clear" (click)="Calcular()">Calcular</ion-button><br>

  <ion-label> Imposto Adicionado {{IA}}</ion-label><br>
  <ion-label> Preço Final {{PF}}</ion-label><br>
  <ion-label> Tempo de Entrega {{TD}} dias úteis</ion-label>
</ion-content>
